@import "./matugen/matugen-waybar.css";

/* =======  Estilo global  ======= */
* {
    font: bold 13px "JetBrainsMono Nerd Font";
    border: none;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    /* background-image: url("file:///home/bdora/texture.png"); */
    background: rgba(2,3,5,1);
    /* border-radius: 0 0 7 7; */
    border: 2px solid rgba(45,38,50,1);
}

/* =======  Tooltip  ======= */
tooltip {
    background: alpha(@surface_container_lowest, 0.8);
    border: 2px solid alpha(@primary_fixed_dim, 1);
    border-radius: 10px;
    color: @on_tertiary_container;
    font: 12px "JetBrainsMono Nerd Font";
}
tooltip label {
    color: @foreground;
}

/* =======  Ventana activa  ======= */
#window,
#custom-username {
    margin: 0px 4px 2px 4px;
    padding: 2px 0px 2px 10px;
    background: transparent;
    border-radius: 10px;
    color: lighter(@main-color);
}

/* =======  Flechas decorativas  ======= */
#custom-arrow-right,
#custom-arrow-left {
    margin: 0px 4px 2px 4px;
    color: alpha(@on_secondary_container, 0.3);
}

/* =======  Grupos estándar (CPU, RAM, etc.)  ======= */
#cpu,
#memory,
#disk,
#custom-updates,
#custom-playerlabel,
#custom-cava,
#custom-notifications,
#custom-theme-switcher,
#power-profiles-daemon,
#control-center {
    background: alpha(@tertiary_container, 0.0);
    color: @on_tertiary_container;
    border-radius: 10px;
    padding: 0 6 0 6;
    margin: 0 3 0 3;
}

#tray {
    background: transparent;
}

#power-profiles-daemon {
    padding: 0 11 0 10;
}

#cpu {
    color: #a6e3a1;
}

#memory {
    color: #f9e2af;
}

#disk {
    color: #f38ba8;
}


#custom-updates {
    background: #f48fb1;
}

#custom-playerlabel {
    background: #a6e3a1;
}

#custom-cava {
    background: #a6e3a1;
}

#custom-notifications {
    background: #a6e3a1;
}

#custom-theme-switcher {
    background: #a6e3a1;
}

#power-profiles-daemon {
    background: transparent;
    color: #81c8be;
    margin: 0 5 0 5;
    padding: 0 5 0 0;
}

#control-center {
    background: #a6e3a1;
}

#custom-section,
#custom-stop,
#custom-record {
    margin: 6px 0px; /* 6 vertical, 4 horizontal  */
    padding: 0px 8px;
    background: alpha(@tertiary_container, 0.8);
    color: @on_tertiary_container;
    border-radius: 10px;
}

/* combinaciones de radios especiales */
#custom-section {
    border-radius: 0 0 0 0;
}
#custom-stop {
    border-radius: 0 10px 10px 0;
}
#custom-record {
    border-radius: 10px 0 0 10px;
}

/* =======  Workspaces  ======= */
#workspaces {
    margin: 0px 4px 0px 4px;
    background: transparent;
    color: alpha(@on_secondary_container, 1);
    border-radius: 10px;
}

#workspaces button {
    font-size: 20px;
    margin: 0 0 8 0;
    padding: 0 0 0 0;
    color: alpha(@on_secondary_container, 0.25);
    border-radius: 10px;
}

#workspaces button.empty {
    margin: 0 0 14 0;
    color: alpha(@on_secondary_container, 0.18);
}

#workspaces button.active {
    color: alpha(@primary, 1);
    margin: 0 0 4 0;
    padding: 0;
}

#workspaces button:hover,
#workspaces button.urgent {
    color: alpha(@primary, 1);
    margin-left: 4px;
    margin-right: 4px;
}

/* =======  Audio  ======= */
#pulseaudio,
#network,
#bluetooth {
    margin: 0 5 0 5;
    padding: 0 4px;
    background: alpha(@surface_container_highest, 0);
    border-radius: 10px;
}

#pulseaudio {
    color: #8caaee;
}

#network {
    color: #ca9ee6;
}

#microphone {
    color: #179299;
}

/* slider de volumen */
#pulseaudio-slider {
    margin: 10px;
}
#pulseaudio-slider slider,
#pulseaudio-slider highlight {
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 8px;
}

/* =======  Reloj  ======= */
#clock {
    margin: 0px 4px 2px 4px;
    background: alpha(@background, 0);
    border-radius: 10px;
    color: lighter(@main-color);
}

/* =======  Poder & batería  ======= */
#power {
    margin: 0px 4px 2px 4px;
    background: transparent;
    color: @on_surface;
    border-radius: 10px;
}

#battery {
    margin: 0 5 0 5;
    padding: 0 10 0 0;
    color: @on_surface;
}

/* =======  Taskbar  ======= */
#taskbar {
    margin: 0 4px;
    padding: 0 8px;
    border-radius: 10px;
    background: transparent;
    color: @on_tertiary_container;
}

#taskbar button:hover {
    background: alpha(@tertiary_container, 0.8);
}
#taskbar button.active {
    background: transparent;
}

/* =======  Módulos singulares  ======= */
#custom-weather {
    padding: 0 4px;
} /* sin fondo para icono/temperatura */

/* Ajuste puntual para evitar separación excesiva */
#bluetooth {
    margin-left: 7px;
} /* mantiene la distancia original */

/* GROUP */
#control-center {
    background: transparent;
}

#system-info {
    background-image: url("file:///home/bdora/stroke.jpg");
    /* background: #ffffff; */
    /* margin: 3 0 6 0; */
}
