* {
    background-image: none;
    box-shadow: none;
	all: unset;
	transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

window {
	background: rgba(0, 0, 0, 0.5);
}

button {
	font-family: 'Material Symbols Outlined';
	font-size: 10;
	background-color: rgba(11, 11, 11, 0.86);
	color: #FFFFFF;
	margin: 2rem;
	border-radius: 30rem;
    border-color: #cba6f7;
    text-decoration-color: #cdd6f4;
    border-style: solid;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus,
button:active,
button:hover {
	background-color: rgba(51, 51, 51, 0.5);
	border-radius: 4rem;
}

#lock {
    background-image: url("/home/bdora/.config/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("/home/bdora/.config/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("/home/bdora/.config/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("/home/bdora/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/home/bdora/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/bdora/.config/wlogout/icons/reboot.svg");
}
